{% extends 'app/base.html' %}
{% load static %}

{% block contenido %}
<section class="py-5">
+    <div class="container text-center">
        <h1 class="display-3 lh-1 mb-4" style="font-family: 'Fredoka One', sans-serif; color: #8922ff;">
            <br>
            Acerca de nosotros
        </h1>
        <p class="lead text-muted">
            GlowUp Gym es un gimnasio ficticio creado para aquellos que buscan superarse día a día y alcanzar su mejor versión. Este proyecto, más que un espacio físico, representa un compromiso con el crecimiento personal y el bienestar integral, ofreciendo un entorno donde la tecnología y el entrenamiento se combinan para inspirar y motivar.
        </p>
        <p class="lead text-muted">
            Desde principiantes hasta atletas experimentados, GlowUp Gym está diseñado para ser inclusivo y adaptarse a las necesidades de cada uno, brindando herramientas modernas, entrenamientos personalizados y una comunidad que te acompaña en cada paso del camino.
        </p>
        <p class="text-warning fw-bold">
            ✨ ¡Porque la verdadera transformación comienza desde adentro y se refleja afuera! 💪
        </p>
    </div>

    <!-- Spacer -->
    <div class="my-5"></div>

    <!-- Creator Section -->
    <div class="container">
        <h2 class="text-center mb-4" style="font-family: 'Fredoka One', sans-serif; color: #583687;">
            Sobre el creador
        </h2>
        <p class="lead text-muted">
            En cuanto al creador detrás de GlowUp, me llamo <strong>Franco Alvarez</strong>, tengo 24 años y soy recientemente graduado en Ingeniería Industrial. Actualmente, busco fortalecer mi perfil profesional con aptitudes que sean altamente valoradas en el mercado laboral y me permitan destacar como profesional. Por eso, este año, una vez finalizados mis estudios de grado, me enfoqué en cursos como inglés y programación en Python.
        </p>
        <p class="lead text-muted">
            Soy un apasionado del fitness, especialmente de la musculación, una disciplina que me fascina porque permite descubrir todo lo que se puede lograr con constancia y disciplina. Hace tres años y medio decidí emprender un cambio que transformó no solo mi cuerpo, sino también mi vida personal. Este viaje me permitió descubrir un mundo que hoy es una parte fundamental de mi vida y la piedra angular de mi desarrollo personal.
        </p>
        <p class="text-primary fw-bold text-center">
            Espero, de todo corazón, que disfruten este proyecto. Les mando un gran abrazo y les deseo un gran GlowUp.
        </p>
    </div>
</section>
{% endblock %}
