{% extends 'app/base.html' %}
{% load static %}
{% block contenido%}
<br>
<br>
<br>
<h3 class="display-3 lh-3 mb-3" style="font-family: 'Fredoka One', sans-serif;">Nuestros Alumnos</h3>    

<h3 class="text-center mt-2">Buscar Alumno</h3>
<!-- Formulario de búsqueda -->
<div class="d-flex flex-column align-items-center mb-2">
    <form action="" method="GET">
        <input type="text" name="q" placeholder="Buscar..." required>
        <button type="submit">Buscar</button>
    </form>
</div>

<table class="table">
    <thead class="table-dark">
        <tr>
            <th>Nombre</th>
            <th>apellido</th>
            <th>plan de entrenamiento</th>
        </tr>
    </thead>
    <tbody>
        {% for alumnos in alumnos %}
        <tr>
            <td>{{ alumnos.nombre }}</td>
            <td>{{ alumnos.apellido }}</td>
            <td>{{ alumnos.plan }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<ul class="navbar-nav ms-auto me-4 my-3 my-lg-0">
    <li class="nav-item">
        <a class="nav-link btn btn-primary rounded-pill text-white" href="{% url 'formularioalumnos' %}" style="padding: 0; font-size: inherit; line-height: inherit; display: inline;">
            <i class="bi-chat-text-fill me-1"></i>
            inscribir alumno
        </a>
    </li>
</ul>

{% endblock %}        